:root {
  --padding-xs: 10px;
  --padding-sm: 20px;
  --padding-md: 30px;
  --padding-lg: 40px;

  --color-primary: royalblue;
  --color-gray: #eee;
  --color-white: #fff;

  --z-index-xs: 1;
  --z-index-sm: 2;
  --z-index-md: 3;
  --z-index-lg: 4;
  --z-inder-header: 1000;
}
